<h1 style="text-align:center; background: white;"><%= title %></h1>

<div class="row" style="background: goldenrod; margin-top: 25px;">
    <div class="col">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email Address</th>

                <% if(displayName) { %>
                   <th></th>
                   <th></th>
                <% } %>
              </tr>
            </thead>
            <tbody>
             <!-- Repeatable Row Template -->   
             <% for(let count = 0; count < contact_list.length; count++) { %>              
                <tr>
                    <th scope="row"><%= count + 1 %></th>
                    <td><%= contact_list[count].contactName %></td>
                    <td><%= contact_list[count].contactNumber %></td>
                    <td><%= contact_list[count].contactEmail %></td>

                    <% if(displayName) { %>
                      <td class="text-center"><a href="/contact-list/edit/<%= contact[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Update</a></td>
                      <td class="text-center"><a href="/contact-list/delete/<%= contact[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
                    <% } %>
                </tr>

              <% } %>

            </tbody>
          </table>
    </div>
</div>